# Maven files
target/
.mvn/
/target/
/.mvn/
/shelf/
/workspace.xml
.idea/
*.iml
*.iws
*.ipr
out/
/httpRequests/
*.log
*.tmp
*.class
*.DS_Store
compiler.xml
*.json
*.html

/dataSources/
/dataSources.local.xml
